
*
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

p {
    color: red;
}



.about {
    background-color: #fff;
}

.about p {
    background-color: aqua;

}

.body2{
    margin: 0;
    padding: 0;
    display:-webkit-inline-box;
    justify-content: center;
    align-items: baseline;
    min-height: 100vh;
    background: black;
    font-family: sans-serif;
}
a
{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #2196f3;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
}


/* ############################# MENUE AND NAVIGATION FOR CONTACT AND MORE ################# */



/* ################## NEON TEXT AND STARTER BANNER #############################*/

/*    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa; AORIGINAL TEXT FOR NEON*/

.neonText {
    animation: flicker 1.5s infinite alternate;
    color: #fff;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #5271ff,
    0 0 82px #5271ff,
    0 0 92px #5271ff,
    0 0 102px #5271ff,
    0 0 151px #5271ff;
  }

  @keyframes flicker {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #5271ff,
        0 0 82px #5271ff,
        0 0 92px #5271ff,
        0 0 102px #5271ff,
        0 0 151px #5271ff;
    
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
  }
  
  /* Additional styling */
    
  body {
    font-size: 18px;
    font-family: "Vibur", sans-serif;
    background-color: black;
  }  
  
  h1, h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
  }
    
  h1 {
      font-size: 4.2rem;
  }
    
  h2 {
      font-size: 1.8rem;
  }
  
  .container {
    margin-top: 20vh;
  }

 /* -------------------------------------------------------------------------------------*/

 section 
 {
     padding: 50px;
     background: #000;
     background: fill;
 }
 section h2 
 {
     font-size: 2.5em;
     color: white;
 }
 section p 
 {
     font-size: 1.5em;
     color: #fff;
     margin-top: 0%;
 }
 
 /* ==================================SOCIALS ===========================*/ 

 .social {
    position: relative;
    bottom: 20px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social li {
    list-style: none;
}

.social li a {
    display: inline-block;
    filteR: invert(1);
    margin-right: 20px;
    transform: scale(0.5);
    transition: 0.5s;
    background-color: #fff;
}

.social li a:hover {
    transform: scale(0.5) translateY(-15px);
}

/* SLID SHOW ==============================================================


/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }

  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

 /* ==================================PROGRESS BAR NEON BLINK===========================*/ 
 
 ::-webkit-scrollbar
 {
     width: 0;
 }
 #scrollPath
 {
     position: fixed;
     top: 0;
     right: 0;
     width: 10px;
     height: 100%;
     background: rgba(255,255,255,0.05);
 }
 #progressbar
 {
     position: fixed;
     top: 0;
     right: 0;
     width: 10px;
     height: 100%;
     background: linear-gradient(to top, #008aff,#00ffe7);
     animation: animate 5s linear infinite; 
 }
 @keyframes animate
 {
     0%,100%
     {
         filter: hue-rotate(0deg);
     }
     50%
     {
         filter: hue-rotate(360deg);
     }
 }
 #progressbar::before
 {
     content: '';
     position: absolute;
     top: 0%;
     left: 0%;
     width: 100%;
     height: 100%;
     background: linear-gradient(to top, #008aff,#00ffe7);
     filter: blur(10px);
 }
 #progressbar::after
 {
     content: '';
     position: absolute;
     top: 0%;
     left: 0%;
     width: 100%;
     height: 100%;
     background: linear-gradient(to top, #008aff,#00ffe7);
     filter: blur(30px);
 }
 
  /* ---------------------------------------CLOCK-----------------------------------------*/
 



/*-----------------bottom button*/

a {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: #2196f3;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 24px;
  overflow: hidden;
  transition: 0.2s;
}



a:hover {
  color: #255784;
  background: #2196f3;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  transition-delay: 1s;
}


a span {
  position: absolute;
  display: block;
}




a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #2196f3);
}



a:hover span:nth-child(1) {
  left: 100%;
  transition: 1s;
}


a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #2196f3);
}

a:hover span:nth-child(3) {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}



a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #2196f3);
}

a:hover span:nth-child(2) {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}



a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #2196f3);
}

a:hover span:nth-child(4) {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}




/* ========================NEON BLINK ON HOVER BUTTON============================ 

/*
a:hover
{
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 1s;
}
*/


/*=========================button editing and desing============================== */
/*
a span 
{
    position: absolute;
    display: block;
}
a span:nth-child(1)
{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#2196f3);

}

a:hover span:nth-child(1)
{
    left: 100%;
    transition: 1s;
}
a span:nth-child(3)
{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#2196f3);

}

a:hover span:nth-child(3)
{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}




 /* -------------------------------------------------------------------------------------*/

